.main {
    width: 1110px;
    margin: 80px auto 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .login {
        display: flex;
        align-items: center;
    }

    .login-form {
        width: 350px;

        h3 {
            margin-bottom: 12px;
        }

        ul {
            display: flex;
            justify-content: space-between;

            a {
                font-family: "PingFang TC";
                font-weight: medium;
                color: #916000;
            }
        }

        input {
            width: 100%;
            height: 38px;
            line-height: 19px;
            border: 1px solid #CED4DA;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        button {
            width: 65px;
            height: 38px;
            font-family: "PingFang TC";
            line-height: 22px;
            margin-right: 8px;
            border: 1px solid #916000;
            border-radius: 4px;
        }

        .sign-up {
            background-color: #FFF;
            color: #916000;
        }

        .sign-in {
            background-color: #916000;
            color: #FFF;
        }

    }

    img {
        width: 730px;
        height: 730px;
    }
    @media (max-width: 767px) {
        width: 92%;
        margin: 0 auto;
        .login {
            width: 100%;
            justify-content: center;
        }
        .login-form {
            width: 100%;
        }
        img {
            width: 100%;
            height: 220px;
            margin-bottom: 30px;
        }
    }
}